/* You can add global styles to this file, and also import other style files */
.btn-group-vertical {
  display: block;
}

.btn-group-vertical .btn {
  padding: 20px;
}

.btn-primary {
  background-color: #b50002;
  border: none;
}

.btn-primary:hover {
  background-color: #9d0002;
  border: none;
}
