<form>
  <div class="form-group">
    <label for="agencia">Agencia</label>
    <input type="text" class="form-control" id="agencia">
  </div>
  <div class="form-group">
    <label for="numero-conta">Numero da Conta</label>
    <input type="text" class="form-control" id="numero-conta">
  </div>
  <div class="form-group">
    <label for="agencia-destino">Agencia Destino</label>
    <input type="text" class="form-control" id="agencia-destino">
  </div>
  <div class="form-group">
    <label for="numero-conta-destino">Numero da Conta Destino</label>
    <input type="text" class="form-control" id="numero-conta-destino">
  </div>
  <div class="form-group">
    <label for="valor">Valor</label>
    <input type="text" class="form-control" id="valor">
  </div>
  <button class="btn btn-primary btn-block">TRANSFERIR</button>
</form>
